<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <clear/>
    <add name="DefaultCS" connectionString="Server=.;Initial Catalog=Pruebas;Integrated Security=true"/>
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
    <system.serviceModel>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
        <behaviors>
          <endpointBehaviors>
              <behavior name="Website.KnockoutJS.DatosAspNetAjaxBehavior">
                <webHttp />
              </behavior>
          </endpointBehaviors>
          <serviceBehaviors>
            <behavior name="Website.KnockoutJS.DatosAspNetAjaxBehavior">
              <serviceMetadata httpGetEnabled="true" />
            </behavior>
          </serviceBehaviors>
        </behaviors>
        <services>
            <service name="Website.KnockoutJS.Datos">
                <endpoint address="" behaviorConfiguration="Website.KnockoutJS.DatosAspNetAjaxBehavior"
                    binding="webHttpBinding" contract="Website.KnockoutJS.Datos" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
